### 1. Dependencies & Tooling
# Never commit external libraries; others should run 'composer install' or 'npm install'
/vendor/
/node_modules/

src/tailwindcss

/Data/*.db
/public/*.db

/config/database.php

/public/css/style.css
/src/style.css
/public/uploads

.DS_Store
.vscode/
.idea/
*.log